@font-face {
  font-family: gotham;
  src: url(../medias/gotham/GothamBook.ttf);
}
body {
  background-color: #E8F1F2;
  margin: 0;
  padding: 0;
  font-family: gotham;
  transition: background-color 1s ease;
}
body h1, h2, h3 {
  color: #13293D;
  transition: color 1s ease;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center
}
#conteudo {
  width: 85%;
  padding-top: 20px;
  text-align: justify;
  padding-bottom: 20px;
}
#conteudo h1 {
  text-align: center;
  font-size: 30pt;
}

header {
    background-color: #E8F1F2;
    padding: 20px 70px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px black;
    position: relative;
    font-size: 14pt;
  }
  header a.active:after {
    width: 100%; 
    left: 0;
  }
  header a {
    color: #13293D;
    text-decoration: none;
    position: relative;
    color: #13293D;
    text-align: center;
    padding: 5px 20px;
    margin-right: 10px;
  }
  header a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #13293D;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  header a:hover:after { 
    width: 100%; 
    left: 0;
  }




  #mobile-nav ul {
    display: flex;
  }
  #mobile-nav ul li {
    list-style: none;
  }
  #header-left {
    display: flex;
    align-items: center;
  }
  #button-logo-index:hover {
    background-color: transparent;
  }
  .menu-toggle {  
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #13293D;
    cursor: pointer;
    position: absolute; 
    right: 20px;
  }

  .config-toggle {
    font-size: 40px;
    background: none;
    border: none;
    color: #13293D;
    cursor: pointer;
    position: relative;
    transition: transform 0.6s ease;
  }
  .config-toggle:hover {
    animation: spin 2s linear infinite;
    transition: none;
  }
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  #configpcnav {
    opacity: 0;
    transition: opacity 300ms, transform 300ms, background-color 1s ease;
    position: fixed;
    height: 300px;
    width: 400px;
    background-color: #E8F1F2;
    border-radius: 50px;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 500%);

    display: flex;
    justify-content: center;
    text-align: center;
  }
  #configpcnav.show {
      opacity: 1;
      transform: translate(-50%, -50%);
  }
  #configpcnav ul {
    color: #13293D;
    text-decoration: none;

    padding-top: 40px;
    padding-left: 0px;
  }
  #configpcnav ul li {
    list-style: none;
    font-weight: bold;
    font-size: 15pt;
    margin-bottom: 5px;
  }
  .config-menu {
    display: none;
  }
  #closenav {
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 20pt;
    cursor: pointer;
  }
  

  .overlay2{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s;
    z-index: 98;
    display: none;
}
  .overlay2.show {
      display: block;
      opacity: 1;
  }  

  .overlay3 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s;
    z-index: 10;
    display: none;
}
  .overlay3.show {
    display: block;
    opacity: 1;
  }


  
  footer {
    background-color: #13293D;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
    height: 300px;
  }
  footer h1 {
    color: #fff;
  }
  .nomes_inte {
    font-size: 10pt;
  }
  #parts {
    width: 30%;
    margin-right: 10px;
  }
  #parts p {
    font-size: 15pt;
    line-height: 0.3em;
  }
  #parts img {
    width: 200px;
  }
  .fab {
    border-radius: 50%;
    padding: 15px 15px;
    font-size: 18pt;
    transition: 500ms;
    box-shadow: 5px 5px 10px 5px black;
  }
  .fab:hover {
    transition: 500ms;
  }
  #Instagram {
    background-color: #1B98E0;
    color: white;
  }
  #Instagram:hover {
    background-color: #E8F1F2;
    color: #0065a0;
  }