@font-face {
  font-family: gotham;
  src: url(../medias/gotham/GothamBook.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: gotham;
  overflow: hidden;
}
body.light-mode {
  background-color: #E8F1F2;
  color: #13293D;
}
body.dark-mode {
  background-color: #233e53;
  color: #E8F1F2;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
#conteudo {
  width: 85%;
  text-align: justify;
}
#conteudo h1 {
  text-align: center;
  font-size: 30pt;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #929292;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #13293D; 
}

header {
  padding: 20px 70px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 20px black;
  position: relative;
  font-size: 14pt;
}
header.light-mode {
  background-color: #E8F1F2;
}
header.dark-mode {
  background-color: #13293D;
}
header #mobile-nav a, header #account-options a, #entrarlink {
  text-decoration: none;
  position: relative;
  text-align: center;
  padding: 5px 20px;
  margin-right: 10px;
}
header.light-mode #mobile-nav a, header.light-mode #account-options a, #linkupload.light-mode, #entrarlink.light-mode {
  color: #13293D;
}
header.dark-mode #mobile-nav a, header.dark-mode #account-options a, #linkupload.dark-mode, #entrarlink.dark-mode {
  color: #E8F1F2;
}
header #mobile-nav a.active:after, header #account-options a.active:after, #entrarlink.active:after {
  width: 100%;
  left: 0;
}
header #mobile-nav a:after, header #account-options a:after, #entrarlink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  background: currentColor;
}
header #mobile-nav a:hover:after, #account-options a:hover:after, #entrarlink:hover:after {
  width: 100%;
  left: 0;
}





  #mobile-nav ul {
    display: flex;
  }
  #mobile-nav ul li {
    list-style: none;
  }
  #header-left {
    display: flex;
    align-items: center;
  }
  #button-logo-index:hover {
    background-color: transparent;
  }
  .menu-toggle {  
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #13293D;
    cursor: pointer;
    position: absolute; 
    right: 20px;
  }

  .config-toggle {
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform 0.6s ease;
  }
  .config-toggle.light-mode {
    color: #13293D;
  }
  .config-toggle.dark-mode {
    color: #E8F1F2;
  }
  .config-toggle:hover {
    animation: spin 2s linear infinite;
    transition: none;
  }
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  #configpcnav {
    opacity: 0;
    transition: opacity 300ms, transform 300ms, background-color 1s ease;
    position: fixed;
    height: 300px;
    width: 400px;
    border-radius: 50px;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 500%);

    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 20px black;
  }
  #configpcnav.light-mode {
    background-color: #E8F1F2;
  }
  #configpcnav.dark-mode {
    background-color: #374e66;
  }
  #configpcnav.dark-mode ul li {
    color: #E8F1F2;
  }
  #configpcnav.show {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  #configpcnav.no-transition {
    transition: none !important;
}
  #configpcnav ul {
    color: #13293D;
    text-decoration: none;

    padding-top: 40px;
    padding-left: 0px;
  }
  #configpcnav ul li {
    list-style: none;
    font-weight: bold;
    font-size: 15pt;
    margin-bottom: 5px;
  }
  .config-menu {
    display: none;
  }
  #closenav {
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 20pt;
    cursor: pointer;
  }
  #closenav i.dark-mode {
    color: #E8F1F2;
  }
  

  .overlay2{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s;
    z-index: 98;
    display: none;
}
  .overlay2.show {
      display: block;
      opacity: 1;
  }  

  .overlay3 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s;
    z-index: 10;
    display: none;
}
  .overlay3.show {
    display: block;
    opacity: 1;
  }

  .overlaybio {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: none;
}
  .overlaybio.show {
    display: block;
    opacity: 1;
  }


  
  footer {
    background-color: #13293D;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
    height: 300px;
    opacity: 0;
  }
  footer h1 {
    color: #fff;
  }
  .nomes_inte {
    font-size: 10pt;
  }
  #parts {
    width: 30%;
    margin-right: 10px;
  }
  #parts p {
    font-size: 15pt;
    line-height: 0.3em;
  }
  #parts img {
    width: 200px;
  }
  .fab {
    border-radius: 50%;
    padding: 15px 15px;
    font-size: 18pt;
    transition: 500ms;
    box-shadow: 5px 5px 10px 5px black;
  }
  .fab:hover {
    transition: 500ms;
  }
  #Instagram {
    background-color: #1B98E0;
    color: white;
  }
  #Instagram:hover {
    background-color: #E8F1F2;
    color: #0065a0;
  }


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}
.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}
input:checked + .toggle-slider {
  background-color: #2196F3;
}
input:checked + .toggle-slider:before {
  transform: translateX(26px);
}
.toggle-slider.round {
  border-radius: 34px;
}
.toggle-slider.round:before {
  border-radius: 50%;
}
.uploadbutton {
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}
.uploadbutton.light-mode {
  color: #13293D;
}
.uploadbutton.dark-mode {
  color: #E8F1F2;
}


.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: fixed;
  top: 45vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
}

/* Light Mode */
.loader.light-mode:before,
.loader.light-mode:after {
  filter: drop-shadow(0 0 0.5rem rgba(12, 70, 109, 0.479));
}
.loader.light-mode:before {
  width: 100%;
  padding-bottom: 100%;
  animation-name: pulsIn;
  box-shadow: inset 0 0 0 0.5rem #0c486b;
}
.loader.light-mode:after {
  width: calc(100% - 1rem);
  padding-bottom: calc(100% - 1rem);
  box-shadow: 0 0 0 0 #0c4a6e;
}

/* Dark Mode */
.loader.dark-mode:before,
.loader.dark-mode:after {
  filter: drop-shadow(0 0 0.5rem rgba(105, 185, 238, 0.788));
}
.loader.dark-mode:before {
  width: 100%;
  padding-bottom: 100%;
  animation-name: pulsIn;
  box-shadow: inset 0 0 0 0.5rem #56baf5;
}
.loader.dark-mode:after {
  width: calc(100% - 1rem);
  padding-bottom: calc(100% - 1rem);
  box-shadow: 0 0 0 0 #56baf5;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 0.5rem #56baf5;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #56baf5;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #56baf5;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 0.5rem #56baf5;
    opacity: 1;
  }
}