#totaldatas {
    display: flex;
}

.imagensprod {
    width: 50%;
}
.rightdatas {
    width: 50%;
}
.descricaoprod {
    width: 80%;
    box-sizing: border-box;
    word-break: normal;
    overflow-wrap: break-word;
    padding: 0 10px;
}
#nomeempresalink {
    color: inherit;
    font-weight: inherit; 
}
#nomeempresa {
    font-size: 25pt; 
    margin-top: 0px;
    margin-bottom: 10px;
}
