#bemvindo.light-mode {
  height: 95vh;
  background-color: #E8F1F2;
  text-align: center;
  opacity: 0;
}
#bemvindo.dark-mode {
  height: 95vh;
  background-color: #163546;
  text-align: center;
  opacity: 0;
}
#bemvindo a {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 50px;
  margin-left: 10px;
  transition: 500ms;
  background-color: #006494;
  color: #E8F1F2;
}
#bemvindo a:hover {
  transition: 500ms;
  background-color: #E8F1F2;
  color: #006494;
}
#comecarcom {
  width: 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  margin-left: 10%;
}
#comecarcom h1 {
  font-size: 40pt;
}
#imagem-contraria {
  background-image: url('https://files.catbox.moe/4st09c.webp');
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 80%;
  position: relative;
  top: 10%;
  left: 40%;
  border-radius: 30px;
}
.comecarcomsupbutton {
  display: none;
}

#conteudo {
  font-family: Arial;
}


.imgright {
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 100vh;
  left: 50%;
  position: fixed;
}
.logimg {
  background-image: url('https://files.catbox.moe/bf5ru5.webp');
}
.signupimg {
  background-image: url('https://files.catbox.moe/3qsnqo.jpg');
}


.signup {
  height: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}
.login {
  height: 100vh;
}
#left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#left p {
  margin-top: 0px;
  padding-bottom: 10px;
}
#left h1 {
  font-weight: bolder;
  margin-bottom: 0px;
}
#left img {
  width: 60%;
}
#left.light-mode a {
  color: #0054a3;
}
#left.dark-mode a {
  color: #8ebce7;
}
#left form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
#datas label {
  font-weight: bold;
  margin-bottom: 10px;
}
#datas input, #datas select {
  width: 95%;
  height: 35pt;
  border-radius: 50px;
  border: 3px solid #006494;
  padding-left: 15px;
  
  font-family: Arial, sans-serif; 
  font-size: 14pt; 
  color: #333; 
  margin-bottom: 10px;
  background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4));
}
#datas select {
  width: 100%;
  padding-right: 35px;
  appearance: none;
  background-image: url('../medias/setabaixo.png');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 20px;
  cursor: pointer;
}

#voltarbut {
  position: absolute;
  top: 20px;
  left: 20px;
}
.back-toggle {
  font-size: 40px;
  background: none;
  border: none;
  color: #13293D;
  cursor: pointer;
}
.dark-mode .back-toggle {
  color: #E8F1F2;
}

.forgot-password {
  align-self: flex-start;
  margin-bottom: 20px;
  color: #006494;
}
.submit-button {
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  background-color: #006494;
  color: white;
  font-size: 16pt;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submit-button:hover {
  background-color: #01324d;
}


#conteudo label {
  font-weight: bold;
  margin-bottom: 10px;
}


.categoria {
  margin-bottom: 40px;
}
.categoria h2 {
  margin-bottom: 20px;
}
.produto {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 1px 10px black;
  cursor: pointer;
  transition: 300ms;
}
.dark-mode .produto {
  background-color: #3b4652;
}
.produto:hover {
  transition: 300ms;
  transform: scale(1.03);
}
.produto img {
  max-width: 100%;
  border-radius: 8px;
}
.produtos {
  display: flex;
  justify-content: space-evenly;
}
.produto h3 {
  font-size: 20px;
  margin: 10px 0;
}
.produto.light-mode p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}
.produto.dark-mode p {
  font-size: 14px;
  color: rgb(201, 201, 201);
  margin: 5px 0;
}
.avaliacao {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avaliacao img {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}



#accountfat {
  width: 250px;
  position: relative;
  z-index: 11;
}

#account-button {
  cursor: pointer;
  padding: 10px;
  position: relative;
}

#account-options {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid black;
  position: absolute;
  top: 80px;
  right: 65px;
  transform: translateY(-50px);
  transition: opacity 300ms, transform 300ms, visibility 300ms;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 100;
  box-shadow: 0px 0px 10px black;
  text-align: center;
}
#account-options.light-mode {
  background-color: #E8F1F2;
}
#account-options.dark-mode {
  background-color: #01324d;
}
#account-options.open {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}
#account-options ul { 
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}
#account-options ul li { 
  margin-bottom: 20px;
}



#profile {
  position: relative;
  width: 100%;
  height: 350px;
}
.banner-sobreposto {
  position: absolute;
  top: 0;
  left: -15px;
  right: 0px;
  height: 100%;
  background-color: black;
  background-position: center;
  background-size: cover;
  filter: brightness(0.5) contrast(0.7);
}
#pfp {
  position: relative;
  padding-left: 60px;
  padding-top: 40px;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#nomebio {
  display: flex;
  flex-direction: column;
  width: 80%;
}
#pfp h1 {
  color: #E8F1F2;
  font-size: 60pt;
  margin: 0px;
}
#pfp img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-right: 30pt;
}
#pfp p {
  color: #dfdfdf;
  font-size: 17pt;
  margin: 0;
  padding-top: 10px;
  line-height: 1.1;
}
#pfp p a {
  color: #dfdfdf;
}

#addbio {
  opacity: 0;
  transition: opacity 300ms, transform 300ms, background-color 1s ease;
  position: fixed;
  height: 300px;
  width: 60%;
  border-radius: 50px;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 500%);
  box-shadow: 0px 10px 10px black;

  display: flex;
  justify-content: center;
  text-align: center;
}
#addbio.light-mode {
  background-color: #E8F1F2;
}
#addbio.dark-mode {
  background-color: #374e66;
}
#addbio.dark-mode ul li {
  color: #E8F1F2;
}
#addbio.show {
  opacity: 1;
  transform: translate(-50%, -50%);
}
#addbio ul {
  color: #13293D;
  text-decoration: none;
  padding-top: 40px;
  padding-left: 0px;
  width: 100%;
}
#addbio ul li {
  list-style: none;
  font-weight: bold;
  font-size: 15pt;
  margin-bottom: 5px;
}
#closebio {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 20pt;
  cursor: pointer;
}
#closebio i.light-mode {
  color: #01324d;
}
#closebio i.dark-mode {
  color: #E8F1F2;
}
#closepfp {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 20pt;
  cursor: pointer;
}
#closepfp i.light-mode {
  color: #01324d;
}
#closepfp i.dark-mode {
  color: #E8F1F2;
}
#addbio textarea {
  width: 80%;
  height: 100%;
  border-radius: 20px;
  border: 3px solid #006494;
  padding-left: 15px;
  padding-top: 10px;
  max-width: 80%; 
  max-height: 100px;
  
  font-family: Arial, sans-serif; 
  font-size: 14pt; 
  color: #333; 
  margin-bottom: 10px;
  background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4));
}
.bio {
  width: 100px;
  padding-right: 15px;
}



#profile-photo-container {
  position: relative;
  display: inline-block;
}
#perfilfoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#edit-icon {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
}
#profile-photo-container:hover #edit-icon {
  display: block;
}
.navconfigs {
  opacity: 0;
  transition: opacity 300ms, transform 300ms, background-color 1s ease;
  position: fixed;
  width: 60%;
  border-radius: 50px;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 500%);
  box-shadow: 0px 10px 10px black;

  display: flex;
  justify-content: center;
  text-align: center;
}
.navconfigs.light-mode {
  background-color: #E8F1F2;
}
.navconfigs.dark-mode {
  background-color: #374e66;
}
.navconfigs.dark-mode ul li {
  color: #E8F1F2;
}
.navconfigs.show {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.navconfigs p {
  margin: 2px;
  font-size: 12pt;
}
.navconfigs.dark-mode p {
  color: #E8F1F2;
}
.navconfigs ul {
  color: #13293D;
  text-decoration: none;
  padding-top: 40px;
  padding-left: 0px;
  width: 100%;
}
.navconfigs ul li {
  list-style: none;
  font-weight: bold;
  font-size: 15pt;
}
#fotoperfilForm.light-mode {
  color: #01324d;
}
#fotoperfilForm.dark-mode {
  color: #E8F1F2;
}
.excluirbut {
  background-color: #ec5353;
}
.excluirbut:hover {
  background-color: #993030;
}

#closebanner {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 20pt;
  cursor: pointer;
}
#closebanner i.light-mode {
  color: #01324d;
}
#closebanner i.dark-mode {
  color: #E8F1F2;
}


.input-preview__src {
	display: none;
}
.input-preview {
	border-radius: 4px;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	transition: ease-in-out 750ms;
  border: 2px dashed #3f86c9;
  cursor: pointer;
}
.input-preview::after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	transform: translateY(50%);
	content: "Clique para carregar um arquivo...";  
	font-style: italic;
	font-size: 1em;
}
.has-image::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(50, 50, 50, 0.5);
	content: " ";
	transition: ease-in-out 750ms;
}
.has-image::after {
	content: "Clique para carregar um arquivo...";
	color: white;
}
.input-banner-preview__src {
	display: none;
}
.input-preview-banner {
	border-radius: 4px;
	width: 800px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	transition: ease-in-out 750ms;
  border: 2px dashed #8ebce7;
  cursor: pointer;
}
.input-preview-banner::after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	transform: translateY(50%);
	content: "Clique para carregar um arquivo...";  
	font-style: italic;
	font-size: 1em;
}
.has-image::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(50, 50, 50, 0.5);
	content: " ";
	transition: ease-in-out 750ms;
}
.has-image::after {
	content: "Clique para alterar arquivo...";
	color: white;
}
#fotobannerForm.dark-mode {
  color: #E8F1F2;
}

.light-mode #alertPassword {
  color: #008000;
}
.light-mode #alertPassword.error {
  color: #EE2B39;
}

.dark-mode #alertPassword {
  color: #00FF00;
}
.dark-mode #alertPassword.error {
  color: #ff4d2e;
}

#imageContainer {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#bannerImageContainer {
  width: 1000px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.input-produto-preview__src {
	display: none;
}
.input-produto-preview {
	border-radius: 4px;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	transition: ease-in-out 750ms;
  border: 2px dashed #3f86c9;
  cursor: pointer;
}
.input-produto-preview::after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	transform: translateY(50%);
	content: "Clique para carregar uma imagem...";  
	font-style: italic;
	font-size: 1em;
}
.has-image::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(50, 50, 50, 0.5);
	content: " ";
	transition: ease-in-out 750ms;
}
.has-image::after {
	content: "Clique para alterar imagem...";
	color: white;
}
.uploadbutton:hover {
  transition: 100ms;
  transform: scale(1.2);
}



#dados-produtos label {
  font-weight: bold;
  margin-bottom: 10px;
}
#dados-produtos input {
  width: 500px;
  height: 35pt;
  border-radius: 50px;
  border: 3px solid #006494;
  padding-left: 15px;
  
  font-family: Arial, sans-serif; 
  font-size: 14pt; 
  color: #333; 
  margin-bottom: 20px;
  background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4));
}

.produto-link {
  max-width: 20%;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit; 
}
.descricao-produto {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swal2-popup {
  border-radius: 50px !important;
}

#initialnamelink {
  max-width: 20%;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit; 
}
#initialname {
  transition: 300ms;
}
#initialname:hover {
  transform: scale(1.1);
}



#message {
  width: 86%;
  height: 50pt;
  border-radius: 20px;
  border: 3px solid #006494;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 5px;
  font-family: Arial, sans-serif; 
  font-size: 14pt;
  color: #333; 
  margin-bottom: 10px;
  background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4));
  resize: none;
  scrollbar-width: none;
}
#chat {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  overflow: hidden;
  width: 100%;
}
#messages {
  height: 100%;
  font-size: 12pt;
  overflow-wrap: break-word;
  text-align: justify;
  font-weight: bold;
  overflow-y: auto;
  padding: 5px;
  scroll-behavior: smooth;
}
.message-container #sendicon {  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25pt;
  padding-bottom: 10px;
  transition: 150ms;
}
#sendicon:hover {
  font-size: 30pt;
}
#sendicon.light-mode {
  color: #006494;
}
#sendicon.dark-mode {
  color: #E8F1F2;
}
.message-sent .message-body {
  background-color: #3f86c9;
  padding: 5px 20px;
  border-radius: 10px;
  width: 50%;
  margin-left: 45%;
  margin-bottom: 20px;
}
.message-received .message-body {
  background-color: #658eb4;
  margin: 10px;
  padding: 5px 20px;
  border-radius: 10px;
  width: 50%;
  margin-left: 1%;
}
#messages p {
  margin-bottom: 5px;
  margin-top: 5px;
}
.message-timestamp {
  font-weight: 100;
  display: block;
  font-size: 0.7em;
}
.message-container {
  padding: 10px;
}
.password-container #togglePassword {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
  font-size: 20pt;
  padding-bottom: 10px;
  padding-right: 10px;
}

.context-menu {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.349);
  backdrop-filter: blur(8px);
  border: 1px solid #cccccc63;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  z-index: 1000;
  border-radius: 10px;
}
.context-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}
.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
}
.context-menu li:hover {
  background-color: #00000015;
  border-radius: 10px;
}
#deletedMessageSpan {
  color: #c92828;
  font-style: italic;
  position: relative;
}
#deletedMessageSpan::before {
  content: '\1F6C8';
  margin-right: 10px;
  font-size: 25pt;
  vertical-align: middle;
}
.message-edited {
  font-style: italic;
  color: rgba(0, 0, 0, 0.445);
  padding-top: 50px;
}
#lateralchats {
  width: 400px;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  background-color: #0054a3;
  margin-left: 0px;
  color: #E8F1F2;  
  margin-top: -60px;
  padding-top: 60px;
  overflow-x: hidden;
}
#lateralchats ul {
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
}
#lateralchats ul a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
}
.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}
.prfchat {
  transition: 300ms;
  margin-bottom: 30px;
  font-size: 17pt;
  padding: 5px 0px;
}
.prfchat:hover {
  transform: scale(1.05);
  background-color: #004a8f;
}
.prfchatflex {
  display: flex;
  margin-left: 20px;
}
.last-message {
  color: #8ebce7;  
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12pt;
}